@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Ubuntu&display=swap');

.home {
    display: flex;
    background-color: #c4ced4;
}

.banner {
    background-color: #005c5c;
    height: 80px;
}

.navbar-main-title {
    font-family: "Chivo";
}


.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}

.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter {
    background-color: #0c2c56;
    color: #c4ced4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 33px;
    margin-left: 40px;
    height: 30vh;
    font-family: "Chivo";
}

.filter>span {
    /* This targets every single span component within the filter component */
    padding-bottom: 20px;
}

.title {
    font-size: 30px;
    font-family: "Chivo";
}

.products {
    width: 30%;
    margin: 10px;
    font-family: "Chivo";
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.cartItemImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.summary {
    width: 30%;
}

@media (max-width: 771px) {
    .filter {
        width: 40%;
        padding: 10px;
        margin: 5px;
    }

    .filter>span {
        font-size: 10px;
    }

    .title {
        font-size: 18px !important;
    }

    .productContainer {
        width: 58%;
        padding: 0;
    }

    .search {
        display: none !important;
    }

    .products {
        width: 100%;
    }
}